[Unit]
Description=Remove unused cached package files

[Service]
Type=oneshot
ExecStart=/usr/bin/paccache --cachedir %C/pacman/pkg --verbose --remove
ExecStart=/usr/bin/paccache --cachedir %C/pacman/pkg --verbose --remove --uninstalled --keep=0
